* {
    box-sizing: border-box;
}

body{
        margin: 0;
        padding: 0;
        font-size: 18px;
        color: rgb(125, 121, 135);
}
ul, ol {
list-style-type: none;
}

h1,h2,h3,    {
    margin:0 ;
}
.container {
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.site-header {
    margin-top: 100px;
    margin-bottom: 80px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.naw-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-list-item {
    padding: 0 20px;
}

.nav-list-link {
    text-decoration: none;
    line-height: 23px;
    color: rgba(31, 21, 52, 0.5);
}

.nav-list-link-active {
    color: rgb(31, 21, 52);
}

.site-hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-heading {
    margin: 0;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 25px;
    color: rgb(0, 0, 0);
}

.hero-text {
    margin: 0;
    font-size: 21px;
    line-height: 32px;
    margin-bottom: 45px;
}

.hero-link {
    display: inline-block;
    background: #458FF6;
    border-radius: 55px;
    padding: 22px 55px;
    color: #fff;
    text-decoration: none;
}

.our-services {
    text-align: center;
   
}

.our-services-heading {
    font-size: 36px;
    line-height: 56px;
    color: #000;
    margin: 0;
    margin-bottom: 26px;
}

.hr-line {
    margin-top: 0;
    margin-bottom: 33px;
    width: 56px;
    height: 2px;
    background-color: #000000;
    border-radius: 5px;
}

.our-services-text {
    line-height: 30px;
    margin: 0;
    margin-bottom: 80px;
}

.services-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 ;
    margin-left: -18px;
    margin-right: -18px;
    padding: 0;
    list-style-type: none;
    text-align: left;
}

.service-item{
    width: 350px;
    padding: 54px 45px 47px 39px;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
    margin: 0 17px 37px 17px;
}

.service-item-img {
    margin-bottom: 20px;
}

.service-item-heding {
    font-size: 24px;
    line-height: 56px;
    margin: 0;
    margin-bottom: 1px;
    color: #000;
}

.service-item-text {
    width: 262px;
    margin: 0;
}

.learn-mode {   
    border: 2px solid rgb(0, 0, 255);
    display: inline-block;
    background: rgb(247, 242, 242) ;
    border-radius: 55px;
    padding: 22px 40px;
    color: rgb(0, 0, 255);
    text-decoration: none;   
}

.images-trafalger{
display: inline-block;
justify-content: space-between;
margin-top: 60px;
border-radius: nullpx;
}

.providers{
display: inline-block;
}
    
.main-hero-a {
    display: flex;
    margin-top: 90px;
    align-items: center;
    justify-content: space-between;
}
.main-hero-img{
    display: inline-block
}

.hero-heading-a{
    margin: 10px;
    padding: 10px;
    padding-left: 25px;
}

.hero-heading-h2 {
    display: inline-block;
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
}

.hero-heading-link{
    border: 2px solid rgb(0, 0, 255);
    display: inline-block;
    background: #fff;
    margin: 50px;
    border-radius: 55px;
    padding: 20px 55px;
    color:rgb(0, 0, 255);
    text-decoration: none;
}

.Download-apps{
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-top: 230px;
    align-items: center;
    }

.Download-header {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 254px;
    font-size: 36px;
    line-height: 48px;   
    color: #000;                           
}

.download-hr {
    margin: 0;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 56px;
    height: 2px;
    text-align: left;
    background-color: #000000;
    border-radius: 5px;
}

.download-text {
    width: 420px;
}

.download-link{
    border: 2px solid rgb(0, 0, 255);
    display: inline-block;
    background: rgb(247, 242, 242) ;
    border-radius: 55px;
    margin: 0;
    margin-top: 40px;
    padding: 22px 55px;
    color: rgb(0, 0, 255);
    text-decoration: none;    
}

.list-header-11{
    margin: 0;
    
}

.list11-hr{
 
    width: 56px;
    height: 2px;
    text-align: center;
    background-color: #000000;
    border-radius: 5px;
}
.list11-list-header{
    display: flex;
    margin: 17px;
}

.list-item-11{
    margin: 17px;
    box-shadow: 10px 40px 50px rgb(166, 170, 185);
    border-radius: 15px;
}

.list11-text {
    text-align: center;
    margin-top: 110px;
    font-size: 36px;
    color: rgb(0, 0, 0);
}

.site-footer{
    display: flex;
    justify-content: space-between;
    background-color: #67C3F3 ;
    margin: 40px;
    margin-top: 200px;
    margin-right: -30;
    padding: 0;
    color: #fff;
}

.footer-list-1{
    display: inline-block;
    width: 391px;
    margin-top: 100px;
    margin-bottom: 113px;
    text-align: left;
    padding: 0;
}

.footer-list-2{
    display: inline-block;
    margin: 0;
    padding: 0;
}

.footer-list-3 {
    display: inline-block;
    margin: 20px;
    padding: 0 ;
}

.footer-list-4{
    display: inline-block;
    margin: 20px;
    padding: 0;
}
